---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '@lib/utils'
import Badge from '@components/Badge.astro'
import TagsList from './TagsList.astro'

type Props = {
  post: CollectionEntry<'posts'>
}

const {
  post: { data, slug },
} = Astro.props
const { author, tags, description, image, pubDate, title } = data
---

<article class='group bg-gray-900 rounded-xl flex-col'>
  <a href={`/posts/${slug}`}>
    <header class='aspect-video rounded-t-xl overflow-hidden'>
      <img src={image.url} alt={image.alt} />
    </header>
    <div class='flex-1 p-6 flex flex-col'>
      <div class='flex items-center justify-between'>
        <TagsList tags={tags} />
        <time
          class='inline-block text-sm leading-6 text-gray-500 dark:text-gray-400'
          datetime={pubDate.toISOString()}
        >
          {formatDate(pubDate.toISOString())}
        </time>
      </div>
      <h3
        class='group-hover:text-pink-400 transitions-color duration-200 mt-2 font-semibold text-xl text-semibold dark:text-gray-200 text-gray-900'
      >
        {title}
      </h3>
      <p
        class='line-clamp-2 my-2 leading-6 text-sm text-gray-500 dark:text-gray-400 flex-1'
      >
        {description}
      </p>
      <div class='inline-flex items-center gap-x-2.5 mt-2'>
        <img
          src={`https://robohash.org/${author}`}
          alt={author}
          class='size-6 bg-gray-500 dark:bg-gray-400/20 rounded-full'
        />
        <p class='text-sm text-gray-900 dark:text-gray-200 font-semibold'>
          {author}
        </p>
      </div>
    </div>
  </a>
</article>
